.right-sidebar{
	margin-left: 2px;
	float: right;
	width: 300px;
	margin: 40px 0px 15px 24px;
 }
 .wedge{
	margin-top: 10px;
	box-shadow: 3px 3px 10px rgb(0, 0, 0 / 5%),-3px -3px 10px rgb(0 , 0, 0 /5%);
	font-size: 14px;

 }
 .wedge h4{
	background-color: rgb(157, 207, 245);
	margin: 0%;
	padding: 15px;
	border: solid 1px rgb(102, 161, 206);

 }
 .right-sidebar-div-1{
	background-color: rgb(204, 228, 246);
	padding: 15px;
	border: 1px solid rgb(204, 228, 246);

 }
 .right-sidebar-div-1 .right-sidebar-div-2{
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
 }
 .right-sidebar-div-1 .right-sidebar-div-2 p{
	padding-left: 10px;
	margin-top: 0%;
	font-size: 12px;

 }
 .wedge-tags{
	margin-top: 40px;
	box-shadow: 3px 3px 10px rgb(0, 0, 0 / 5%),-3px -3px 10px rgb(0 , 0, 0 /5%);


 }
 .wedge-tags h4{
	margin: 0%;
	padding: 15px;
	background-color: #f8f9f9;
	border: 1px solid #e3e6e8;

 }
 .wedge-tags-div{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid #e3e6e8;
	padding: 10px;

 }
 .wedge-tags-div p{
	padding: 5px;
	background-color: #e1ecf4;
	color: #39739d;
	border-radius: 2px;
	font-size: 14px;

 }
