.home-container-1{
	min-height: 100vh;
	max-height: 1250px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0% auto;

}
.home-container-2{
	max-width: 1100px;
	width: calc(100% - 163px);
	border: 1px solid #d6d9dc;
	padding: 2px;
	box-sizing: border-box;
	

}